<html ng-app>

<head>
<title>Using AngularJS Directives and Data Binding</title>
</head>


<body>
<div class="container" data-ng-init="names=['Dave', ' Napur ' , ' Heedy','Shriva'] ">
<h3 >Looping with the ng-repeat Directive</h3>
<ul>
<li data-ng-repeat="personName in names" >{{ personName }}</li>
</ul>

Name:
<br /><input type="text" data-ng-model="name" />{{ name }}


<ul>
<li data-ng-repeat="cust in customers | orderBy: 'name'">
{{ cust.name | uppercase }}
</li>
</ul>




</div>
<script src="Scripts/angular.min.js"></script>
</body>

</html>

